
{% extends 'dashboard_base.html' %}
{% load static %}
{% load bootstrap %}

            
{% block content %}
<!-- Animated -->
<div class="animated fadeIn">
    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">£<span class="count">{{ revenue }}</span></div>
                                <div class="stat-heading">Revenue</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content">   
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ total_orders }}</span></div>
                                <div class="stat-heading">Orders</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <a href="{% url 'core:products-list' %}">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ total_items }}</span></div>
                                <div class="stat-heading">Products</div>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">{{ total_users }}</span></div>
                                <div class="stat-heading">Customers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix col-md-12"></div>
    
    <!-- Orders -->
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="box-title">Orders </h4>
                    </div>

                    <!-- <div class="card-body card-block">
                        <form action="#" method="get" class="form-horizontal">
                            <div class="row form-group">
                                <div class="col col-md-12">
                                    <div class="input-group">
                                
                                
                                        {{ myFilter.form.user|bootstrap }}
                                
                                
                                        <input type="email" id="input2-group2" name="input2-group2" placeholder="Email" class="form-control">
                                        <input type="email" id="input2-group2" name="input2-group2" placeholder="Email" class="form-control">
                                        <div class="input-group-btn"><button class="btn btn-primary" type="submit">Search</button></div>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div> -->

                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table ">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th class="avatar">Avatar</th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                            
                                {% for order in order_qs %}
                                    {% for order_item in order.items.all %}
                                    <tr>
                                        <td class="serial">1.</td>
                                        <td class="avatar">
                                            <div class="round-img">
                                                <a href="#"><img class="rounded-circle" src="{% static 'dashboard/images/avatar/2.jpg' %}" alt=""></a>
                                            </div>
                                        </td>
                                        <td> #5469 </td>
                                        <td>  <span class="">{{ order_item.user }}</span> </td>
                                        <td> <span class="">{{ order_item.item.title }}</span> </td>
                                        <td><span class="">{{ order_item.quantity }}</span></td>
                                        <td>
                                            <a href="{{ order.get_update_status_url }}"><span class="badge badge-{{ order.label }}">{{ order.status }}</span></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div> <!-- /.table-stats -->
                    </div>
                </div> <!-- /.card -->
            </div>  <!-- /.col-lg-8 -->
        </div>
    </div>
</div>
<!-- .animated -->
{% endblock content %}

    